<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/pictures/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--    fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <title>CategoryDiv</title>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


</head>
<body>
<div class="col-6" th:fragment="categorydiv">
    <div class="listing">
        <div class="row">
            <a th:href="@{'/categories/' + ${category.name} +'/page/1'}">
                <div class="col-lg-12">
                    <div class="box-image-container">
                        <img role="presentation"
                             th:src="@{'/category/' + ${category.id} + '/categoryImage'}"
                             class="box-image">
                    </div>
                    <div class="listing-title" th:text="${category.name}"></div>
<!--                    <div class="listing-description" th:text="${category.description}"></div>-->
                </div>
            </a>
        </div>
        <div class="listing-extra col-md-4">
            <div class="small price">
                Movies
            </div>
            <div class="listing-extra col-md-4">
                <div class="small price">Number of Courses</div>
            </div>
<!--            th:text="${category.courses.size()}"-->
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" th:src="@{/static/jquery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>