<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>

<header class="header-home">
    <!--navigation-->
    <nav class="navbar navbar-expand-md navbar-dark nav-menu fixed-top">
        <a class="navbar-brand" href="#">
            <img th:src="@{/pictures/logo.png}" height="50" alt="mdb logo">
        </a>
        <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
            <div class="bg-light line1"></div>
            <div class="bg-light line2"></div>
            <div class="bg-light line3"></div>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories/page/1}">Categories<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/memocards/showAll/page/1}">MemoCards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end of navigation-->
    <!-- banner -->
    <div class="text-light text-center banner col-lg-6">
        <h1 class="display-6 banner-heading text-uppercase">Learning Cards <span class="lead text-uppercase">World</span></h1>
        <p class="lead banner-par text-uppercase underline_anim" style="color: yellowgreen">easy knowledge starts here.</p>
    </div>
    <!-- end of banner -->

</header>
<!--end of header-->


<!--some white section-->

<!--mission section-->

<section class="p-5 mission">

    <!--title-->
    <div class="row text-white text-center">
        <div class="col m-4">
            <h1 class="display-4 mb-4 mission-name">Our Mission</h1>
            <div class="underline mb-4"></div>
            <p class="lead" style="color: grey">The most important for us is to let you learn in a fast and effective way. Combining fun and quick learning resulted in creating FiszKards!</p>
        </div>
    </div>
    <!--end of title-->
    <div class="row my-5">
        <div class="col-md-4 text-center mb-sm-8">
            <i class="fas fa-diagnoses fa-5x mb-4 mb-sm-12 icon-color"></i>
            <h1 class="mission-name mb-3">Innovation</h1>
            <p class="text-muted">New dimension of learning that allows to learn everywhere, the way you like it!</p>
        </div>
        <div class="col-md-4 text-center mb-sm-8">
            <i class="fas fa-gem fa-5x  mb-4  icon-color"></i>
            <h1 class="mission-name mb-3">Quality</h1>
            <p class="text-muted">Remember and be able to use acknowledged words with ease thanks to interactive FiszKards with various modes.</p>
        </div>
        <div class="col-md-4 text-center mb-sm-8">
            <i class="fas fa-leaf fa-5x  mb-4 icon-color"></i>
            <h1 class="mission-name mb-3">Speed</h1>
            <p class="text-muted">Learn the fastest possible way, connecting fun with discovering new words.</p>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center">
                <img th:src="@{/pictures/tablet.png}" width="350" class="img-fluid camera-img">
            </div>
            <div class="col-lg-7  text-lg-right text-center mission-text">
                <h1 class="display-5">Faster than books</h1>
                <p class="lead" style="color: lightslategrey">Forget about hours spent on turning dictionaries pages! Create FiszKards with words you need or use one of ready-to-go sets.</p>
            </div>
        </div>
    </div>

</section>
<!--end of mission-->

<!--pricing-->
<section class="bg-light text-center p-5">
    <div class="container-fluid">
        <!-- title -->
        <div class="row text-muted text-center">
            <div class="col m-4">
                <h1 class="display-4 mb-4">Pricing</h1>
                <div class="underline-dark mb-4"></div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium inventore, sint quisquam fugiat pariatur culpa officia. Eveniet omnis quia tempora.</p>
            </div>
        </div>
        <!-- end of title -->

        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="card card-1 text-light py-4 my-4 mx-auto">
                    <div class="card-body">
                        <h5 class="text-uppercase font-weight-bold">Monthly Membership</h5>
                        <h1 class="display-4"><i class="fas fa-dollar-sign"></i>19</h1>
                        <ul class="list-unstyled">
                            <li class="font-weight-bold py-3 card-list-item">Unlimited Quizes</li>
                            <li class="font-weight-bold py-3 card-list-item">Tournaments</li>
                            <li class="font-weight-bold py-3 card-list-item">Rankings</li>
                        </ul>
                        <a href="#" class="btn p-2 text-uppercase text-light font-weight-bold price-card-button">sign-up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-2 text-light py-4 my-4 mx-auto">
                    <div class="card-body">
                        <h5 class="text-uppercase font-weight-bold">Unlimited Access</h5>
                        <h1 class="display-4"><i class="fas fa-dollar-sign"></i>150</h1>
                        <ul class="list-unstyled">
                            <li class="font-weight-bold py-3 card-list-item">Unlimited Quizes</li>
                            <li class="font-weight-bold py-3 card-list-item">Tournaments</li>
                            <li class="font-weight-bold py-3 card-list-item ">Personal Mentor</li>
                            <li class="font-weight-bold py-3 card-list-item border-0">T-Shirt</li>
                        </ul>
                        <a href="#" class="btn p-2 text-uppercase text-light font-weight-bold price-card-button">sign-up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-3 text-light py-4 my-4 mx-auto">
                    <div class="card-body">
                        <h5 class="text-uppercase font-weight-bold">Annual Membership</h5>
                        <h1 class="display-4"><i class="fas fa-dollar-sign"></i>80</h1>
                        <ul class="list-unstyled">
                            <li class="font-weight-bold py-3 card-list-item">Unlimited Quizes</li>
                            <li class="font-weight-bold py-3 card-list-item">Tournaments</li>
                            <li class="font-weight-bold py-3 card-list-item border-0">Personal Mentor</li>
                        </ul>
                        <a href="#" class="btn p-2 text-uppercase text-light font-weight-bold price-card-button">sign-up</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <h2 class="text-muted mb-4">Thanks for being with us!</h2>
        </div>
    </div>
</section>
<!--end of pricing-->

<!--newsletter-->
<section class="subscribe p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 pb-4">
                <h3 class="display-4 mb-5 text-white text-center">Get In Touch</h3>
                <form class="contact-form">
                    <div class="form-group py-4">
                        <input type="text" class="form-control my-2 p-2 input" placeholder="Name">
                        <label for="name" class="label">Name</label>
                    </div>
                    <div class="form-group py-4">
                        <input type="email" class="form-control my-2 p-2 input" placeholder="Email Address">
                        <label for="email" class="label">Email Address</label>
                    </div>
                    <button type="submit" class="btn btn-block p-2 font-weight-bold text-uppercase submit-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--newsletter--->

<!--footer-->

<footer class="bg-dark px-5">

    <div class="container-fluid">
        <div class="row text-light py-4">

            <div class="col-6 text-left">
                <h5 class="pb-3">Visit us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" th:href="@{/categories/page/1}" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Categories</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Rankings</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Pricing</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 text-right">
                <h5 class="pb-3">Need Help?</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link text-uppercase">Customer Service</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-uppercase">Online Chat</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-uppercase">Support</a>
                    </li>
                    <li>
                        <i class="fab fa-facebook-square fa-2x text-primary"></i>
                        <i class="fab fa-instagram fa-2x text-danger"></i>
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col text-center text-light border-top pt-3">
            <p>&copy; 2020 by Twitching Nether Copyright, All Rights Reserved</p>
        </div>
    </div>
</footer>

<!--end of footer-->


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/custom.js}"></script>

</body>
</html>