<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hackathon - Memo Cards</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="row">
    <div class="col-md-12">
        <h1 class="section-header"> Memo Cards</h1>
    </div>
</div>

<!--navigation-->
<nav class="navbar navbar-expand-md navbar-dark nav-menu fixed-top">
    <a class="navbar-brand" href="#">
        <img th:src="@{/pictures/logo.png}" height="50" alt="mdb logo">
    </a>
    <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
        <div class="bg-light line1"></div>
        <div class="bg-light line2"></div>
        <div class="bg-light line3"></div>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/categories/page/1}">Categories<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/memocards/showAll/page/1}">MemoCards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of navigation-->

<div class="container col-md-10 col-md-offset-1 movies-section" style="margin-top: 100px">

    <div class="row">
        <div class="row">
            <div class="col-md-3 p-4" th:each="memoCard: ${memocards}">
                <div class="listing">
                    <div class="row">
                        <a th:href="@{'/memocards/' + ${memoCard.id}}">
                            <div class="col-lg-12">
                                <div class="box-image-container">
                                    <img role="presentation"
                                         th:src="@{'/category/' + ${memoCard.id} + '/categoryImage'}"
                                         class="box-image">
                                </div>
                                <div class="listing-title" th:text="${memoCard.name}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" th:fragment="pagination">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                    <a class="page-link" th:href="@{|/memocards/showAll/page/${pageNumber}|}" th:text=${pageNumber}>1</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>


<!--footer-->
<footer class="bg-dark px-5">

    <div class="container-fluid">
        <div class="row text-light py-4">

            <div class="col-6 text-left">
                <h5 class="pb-3">Visit us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" th:href="@{/categories/page/1}" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Categories</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Rankings</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Pricing</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 text-right">
                <h5 class="pb-3">Need Help?</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link text-uppercase">Customer Service</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-uppercase">Online Chat</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-uppercase">Support</a>
                    </li>
                    <li>
                        <i class="fab fa-facebook-square fa-2x text-primary"></i>
                        <i class="fab fa-instagram fa-2x text-danger"></i>
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col text-center text-light border-top pt-3">
            <p>&copy; 2020 by Twitching Nether Copyright, All Rights Reserved</p>
        </div>
    </div>
</footer>
<!--end of footer-->

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/custom.js}"></script>

</body>
</html>